{% extends "base.html" %}

{% block content %}


<h2>Admin Dashboard</h2>


<table border="1">


<tr>

<th>Employee</th>
<th>Complaint</th>
<th>Category</th>
<th>Priority</th>
<th>Status</th>
<th>Update</th>

</tr>



{% for complaint in complaints %}


<tr>


<td>
{{ complaint.name }}
</td>


<td>
{{ complaint.title }}
</td>


<td>
{{ complaint.category }}
</td>


<td>
{{ complaint.priority }}
</td>


<td>
{{ complaint.status }}
</td>



<td>


<form method="POST"
action="{{ url_for('update_status', id=complaint.id) }}">


<select name="status">

<option>
Pending
</option>

<option>
In Progress
</option>

<option>
Resolved
</option>

<option>
Closed
</option>

</select>


<button>
Update
</button>


</form>


</td>


</tr>


{% endfor %}


</table>


{% endblock %}